*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  font-family: 'Roboto', sans-serif;
}

img {
  max-width: 100%;
}

.container {
  width: 80%;
  max-width: 1128px;
  margin: 0 auto;
}

.hero {
  min-height: 41.25em;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #F3EED9;
}

.hero__caption-text {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: .5em;
}

.hero h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3.75rem;
  color: #824936;
}